@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #222;
    background: #f7f7f7;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
}

nav {
    max-width: 1200px;
    margin:auto;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.logo h1 {
    font-size:35px;
    color:#1b8f3a;
}

.logo span {
    font-size:12px;
    font-weight:700;
}


ul {
    display:flex;
    gap:30px;
    list-style:none;
}

ul a {
    text-decoration:none;
    color:#222;
    font-weight:600;
    transition:.3s;
}

ul a:hover {
    color:#1b8f3a;
}



/* HERO */

.hero {
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    background:
    linear-gradient(
    rgba(0,0,0,.45),
    rgba(0,0,0,.45)
    ),
    url("https://images.unsplash.com/photo-1610832958506-aa56368176cf")
    center/cover;
}


.hero-content {
    color:white;
    animation:fadeUp 1s;
}


.hero h2 {
    font-size:55px;
    max-width:800px;
}


.hero p {
    font-size:20px;
    margin:20px;
}



.btn {
    display:inline-block;
    padding:14px 30px;
    background:#1b8f3a;
    color:white;
    border-radius:50px;
    text-decoration:none;
    font-weight:700;
    transition:.3s;
}


.btn:hover {
    transform:translateY(-5px);
    background:#14702d;
}



/* SECTIONS */


section {
    padding:100px 10%;
    text-align:center;
}


section h2 {
    font-size:38px;
    margin-bottom:30px;
}



.about p {
    max-width:800px;
    margin:auto;
    font-size:18px;
    line-height:1.7;
}



/* PRODUCTS */

.products {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}


.product {
    background:white;
    padding:40px 25px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    transition:.3s;
}


.product:hover {
    transform:translateY(-10px);
}



/* GALLERY */


.gallery-box {
    height:300px;
    background:white;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}



/* CONTACT */


.contact {
    background:white;
    padding:40px;
    border-radius:25px;
    max-width:500px;
    margin:auto;
    box-shadow:0 15px 35px rgba(0,0,0,.1);
}


.contact p {
    margin-bottom:25px;
    line-height:1.8;
}



/* FOOTER */

footer {
    background:#111;
    color:white;
    text-align:center;
    padding:25px;
}



/* ANIMATION */

@keyframes fadeUp {

from {
opacity:0;
transform:translateY(30px);
}

to {
opacity:1;
transform:translateY(0);
}

}



/* MOBILE */

@media(max-width:800px){

nav {
flex-direction:column;
gap:15px;
}

ul {
gap:15px;
}

.hero h2 {
font-size:35px;
}


.products {
grid-template-columns:1fr;
}

}
